/* GenHoroscope.css */

/* .genHoroScope-container{
    margin: 0px 60px 0px 100px;
    width: 80%;
} */

.edit-prof span{
    color: blue;
}
.horo-border-box{
    border: 1px solid #d1d1d1;
}
.horoscope-btm{
    width: 100%;
    padding: 40px 20px 30px 30px;
    display: grid;
    grid-template-columns: 5fr 6fr;
}
.horoscope-left h4{
    line-height: 26px;
    font-size: 19px;
    font-weight: 700;
}
.horoscope-left p{
    color: #666666;
    text-align: justify;
    line-height: 18px;
    font-size: 13px;
    width: 350px;
}
.horo-left-mid .horo-icon{
    font-size: 36px;
    width: 50px;
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    padding: 6px;
    margin: 5px 10px 10px 5px;
}
.horo-left-mid span{
    text-align: justify;
}
.form-container-horoscope{
    background: #f1f1f1;
    color: black;
    width: 80%;
    padding: 40px 30px 60px 30px;
}
.form-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 0 20px;

}
.form-box .column{
    width: calc(50% - 10px);
}
.form-box label{
    font-weight: 700;
    font-size: 13px;
}
.form-box .column .time{
    width: 30%;
    height: 38px;
    background: #ffffff;
    color: #777;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}
.form-box .column .AM-PM{
    height: 38px;
    background: #ffffff;
    color: #777;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}
.form-box .fields{
    width: 100%;
    height: 38px;
    background: #ffffff;
    color: #777;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}
form{
    position: relative;
}
#generate-btn{
    text-align: right;
    background-color: #ff7805;
    color: white;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    border: 1px solid #cccccc;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 40px 0px 0px;
    position: absolute;
    right: 0;
}
.below-line{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='1' viewBox='0 0 100 1'%3E%3Cpath d='M0 0h50v1H0V0zm50 0h50v1H50V0z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 100% 1px;
    display: inline-block;
    white-space: nowrap;
}
.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
  }

  .dots {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
  }

  .dots::before,
  .dots::after {
    content: '..................................................................................................................';
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  .horo-bot{
    width: 100%;
    padding: 40px 20px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: justify;
    column-gap: 10px;
  }
  .horo-bot h4{
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
  }
  input[type=file]{
    border: 1px solid #dbdbdb;
    padding: 2px 5px 8px 2px;
    width: 250px;
    margin-right: 20px;
    font-size: 12px;
  }
#upload-btn{
    background-color: #ff7805;
    color: #ffffff;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
}
.horo-bot .gif{
    font-size: 12px;
    color: #666666;
}
.settings-form{
    background: #f1f1f1;
    color: black;
    width: 100%;
    padding: 40px 30px 60px 30px;
}

/* Horoscope Settings */
.horo-border-box{
    margin: 0px 60px 0px 100px;
    width: 80%;
}
.form-content {
    display: flex;
    padding-bottom: 10px;
}

.label {
    display: block;
    width: 250px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.input-fields {
    width: 300px;
    display: block;
}

.star {
    color: #FE7C22;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.selectbox-ui {
    position: relative;
    display: block;
}

.selectbox-ui:before {
    content: '';
    position: absolute;
    pointer-events: none;
    display: block;
}

.selectbox {
    width: 260px;
    height: 38px;
    background: #ffff;
    color: #777;
    border: 1px solid #e0e0e0;
    appearance: none;
    cursor: pointer;
    padding: 5px;
}

select {
    font: 100% / 1.3 Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

.selectbox-ui:after {
    content: " ";
    border-top: 8px solid #a3a5a5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 8px;
    top: 45%;
    padding: 0;
    position: absolute;
    pointer-events: none;
    display: block;
}

.clear {
    clear: both;
    height: 1px;
    width: 1px;
}

.modetory {
    float: left;
    padding: 20px;
    color: #666;
    font-size: 11px;
}

.modetory-star {
    color:#FE7C22 ;
    font-weight: bold;
}

.primary-button {
    float: right;
    padding: 10px;
}

.primary-btn {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background: #ff7805;
    color: #FFF !important;
    outline: none;
    text-decoration: none;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}


/* Astromatch */
.astromatch-horo-container{
    margin: 0px 60px 0px 100px;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 9fr;
    overflow-x: hidden;
}
.left-container {
    margin-left: 100px; 
    text-align: left; 
    width: 480px;
    float: left;
}

.astromatch {
    margin-bottom: 10px; 
}

h1.astromatch {
    color: #5ca824;
    font-size: 22px;
    font-family: Lato;
    padding-top: 20px;
    
}

.dotted {
    border-bottom: dotted;
    padding: 7px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bold-text {
    color: #393939;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;    
}

.normal-paragraph {
    padding-left: 15px;
    font-size: 12px;
    color: #666666;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; 
    color: #FE7C22;
    font-size: 5px;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 460px;
}

th {
    text-align: -webkit-center;
    vertical-align: middle;
    width: 107px;
    background-color: rgb(242, 243, 219);
}

.subscribe-now {
    float: right;
    padding: 10px;
    margin-bottom: 300px;
    
}

.subscribe {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background: #ff7805;
    color: #FFF !important;
    outline: none;
    text-decoration: none;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}


.contact-information {
    width: 420px;
    margin-top: 45px;
}

.number {
    color: #000000;
    width: 200px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 13px;
    line-height: 20px;
    margin-left: 20px;
}

.right-container {
    /* width: 20%; */
    /* float: right; */
    margin-left: 40px;
    /* user-select: initial; */
    /* margin: 0;
    padding: 0; */
}

.sample-astromatch {
    width: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f8f8eb;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: center;
    margin-right: 420px; 
    margin-top: 20px;
    margin-bottom: 0;
}
.image-background {
    background-color:#f8f8eb ;
    padding: 20px;
    /* margin-right: 150px; */
}

.image-container {
    background-color: #f8f8eb;
}

.sample-img {
    width: 400px;
    height: 420px;
}