*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.addpartner-container{
    width: 230px;
    height: 120px;
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
    display: grid;
    grid-template-columns: 30% 70%;
    /* box-shadow: 0px 0px 4px 0px rgb(141, 124, 124); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.addpartner-container .horoscope{
    background-image: url('../../images/horoscope.jpg');
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 10px;
}
.grid-horoscope #heading-horoscope{
    font-size: 18px;
}
.grid-horoscope p{
    margin: 8px 0px 2px 5px;
}
.link-horoscope{
    background-color: #f1f1f1;;
    color: blue;
    width: 230px;
    text-align: center;
    font-size: 15px;
    padding: 4px 0px 2px 0px;
}
.link-horoscope #right-icon{
    vertical-align: middle;
    margin-left: 4px;
}